@charset "utf-8";

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html,
body {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: "Figtree";
    /* font-optical-sizing: auto; */
    font-weight: 700;
    font-style: normal;
    background: #f2f3f4;
    color: #222;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


/* TOP */
.top {
    width: 100%;
    max-height: 100vh;
    height: auto;
    display: flex;
}

/* HEADER */
.header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 1000;
    padding: 1rem 0 0;
    gap: 1rem;
    z-index: 5;
}

.logo,
.logo a {
    width: auto;
    height: 1rem;
    display: flex;
    justify-content: center;
}

.logo img {
    height: 100%;
    width: auto;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .5rem 2rem;
    gap: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 800;
}

.menu a {
    color: #f2f3f4;
}

@media (min-width:375px) {
    .menu {
        padding: .5rem 1rem;
    }
}

/* MAIN */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kv {
    width: 100%;
    max-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin-bottom: 4rem;
}

.kv-t {
    width: 90vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #222;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 0 0 2rem 2rem;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, .2);
}

.kv-t-img {
    height: 6rem;
    margin-top: 2rem;
}

.kv-t-img img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

.kv-b {
    width: 80vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.kv-bl {
    width: 100%;
    height: 100%;
    background-color: #222;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 2rem;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, .2);
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: end;
    text-transform: uppercase;
    padding: 5%;
}

.kv-b-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1rem;
    color: #f2f3f4;
    gap: 5vh;
}

.kv-lenz {
    width: 0;
    height: 0;
    padding: 4rem;
    background-color: rgba(255, 255, 255, .4);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 1rem;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, .2);
    z-index: 1;
}

.kv-b-txt,
.kv-lenz {
    grid-area: 1/1;
}

.kv-br {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 4vw;
}

@media (min-width:768px) {
    .kv-t {
        flex-direction: row;
    }

    .kv-t-img {
        height: 12vw;
    }

    .kv-t-txt {
        font-size: .8rem;
    }

    .kv-b {
        flex-direction: row;
    }

    .kv-b-txt {
        font-size: 2rem;
    }

    .kv-lenz {
        padding: 16vh 8vw;
    }
}

/* TOP */
.list {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.cv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.card {
    flex: 2;
    padding: 2rem;
    transition: flex .3s ease, opacity .3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 40vh;
    background-color: #f2f3f4;
    border-radius: 1rem;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, .2);
}

.card-img {
    width: 100%;
    height: auto;
}

.card-img img {
    border-radius: .5rem;
}

.card-txt {
    opacity: 0;
    transition: opacity .3s ease;
    font-size: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    position: absolute;
}

.about-txt {
    font-size: .5rem;
}

.btn {
    display: block;
    width: 100%;
    padding: .5rem 4rem;
    background-color: transparent;
    color: #f2f3f4;
    border-radius: .5rem;
    border: solid 1px #f2f3f4;
    box-shadow: 0px 0px 8px 0px #f2f3f4;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .3s, transform .1s;
    margin-top: 1rem;
}

.btn:hover {
    background-color: #f2f3f4;
    backdrop-filter: blur(.2px);
    -webkit-backdrop-filter: blur(.2px);
    border-radius: .5rem;
    color: #222;
}

.btn:active {
    transform: translateY(2px);
}

@media (hover: hover) and (pointer: fine) {
    .card-txt {
        opacity: 0;
        position: absolute;
    }

    .cv:hover .card {
        flex: 1;
    }

    .cv:hover .card:hover {
        flex: 3;
        background-color: #222;
        color: #f2f3f4;
        border-radius: 1.6rem;
    }

    .cv:hover .card:hover .card-img {
        width: 60%;
    }

    .cv:hover .card:hover .card-img img {
        border-radius: 1rem;
    }

    .cv:hover .card:hover .card-txt {
        opacity: 1;
        position: static;
    }
}


@media (hover: none) and (pointer: coarse) {
    .card {
        background-color: #222;
        color: #f2f3f4;
        border-radius: 1.6rem;
        transition: .5s all;
        height: auto;
    }

    .card-img {
        width: 60%;
    }

    .card-img img {
        border-radius: 1rem;
    }

    .card-txt {
        opacity: 1;
        position: static;
    }
}

@media (min-width: 768px) {
    .cv {
        flex-direction: row;
    }

    .cards {
        flex-direction: column;
    }
}

/* FOOTER */
.floor {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
    width: 80vw;
}

.floor-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.address {
    background-color: #222;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 1rem;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem;
    color: #f2f3f4;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    font-style: normal;
    font-size: .8rem;
}

.info dt {
    clear: left;
    float: left;
    width: 1rem;
    margin-right: 4rem;
}

.info dd {
    overflow: hidden;
}

.link {
    color: #f2f3f4;
    text-decoration: underline;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-txt {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 1rem;
}

@media (min-width:768px) {
    .address {
        padding: 4rem;
        float: none;
        font-size: .8rem;
        width: 50vw;
    }

    .info {
        font-size: 1rem;
    }
}

@media (min-width:1024px) {
    .info {
        font-size: 1.2rem;
    }
}
